@model KartverketRegister.Models.Marker

<h2>Details for marker #@Model.MarkerId</h2>
<p><strong>Type:</strong>@Model.Type</p>
<p><strong>Description:</strong>@Model.Description</p>
<p><strong>Category:</strong>@Model.ObstacleCategory</p>
<p><strong>Height (m):</strong>@Model.HeightM</p>
<p><strong>Height over sea (m):</strong>@Model.HeightMOverSea</p>
<p><strong>Accuracy (m):</strong>@Model.AccuracyM</p>
<p><strong>Temporary:</strong>@Model.IsTemporary</p>
<p><strong>Removal date:</strong>@Model.ExpectedRemovalDate</p>
<p><strong>Lightning:</strong>@Model.Lighting</p>
<p><strong>Latitude:</strong>@Model.Lat</p>
<p><strong>Longitude:</strong>@Model.Lng</p>
<p><strong>User ID:</strong>@Model.UserId</p>
<p><strong>Souce:</strong>@Model.Source</p>
<p><strong>Reviewed by:</strong>@Model.ReviewedBy</p>
<p><strong>Review comment:</strong>@Model.ReviewComment</p>
